@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #171A21;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
}

